html{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../Images/bgimage.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

nav{
    width: 1200px;
    height: 75px;
    margin: 0px;
}

.logo{
    width: 200px;
    float: left;
    height: 70px;
    color: 	#8B008B;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
}

nav ul.left li{
    width: 100px;
    float: left;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: blueviolet;
}

.btn{
    width: 100px;
    height: 40px;
    background: blueviolet;
    border: 2px solid blueviolet;
    margin-top: -50px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius:  5px;
}

.btn:focus{
outline: none;
}

.search{
    width: 330px;
    float: right;
    margin-left: 250px;
}

.srch{
    font-family: sans-serif;
    width: 150px;
    height: 40px;
    background:  transparent;
    border: 1px solid blueviolet;
    margin-top: -70px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    margin-right: 100px;
    float: right;
    padding: 10px;
}

.srch:focus{
    outline: none;
}
.button{
    float: right;
    width: 100px;
    height: 40px;
    background: blueviolet;
    border: 2px solid blueviolet;
    margin-top: -70px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius:  5px;
}

.button:focus{
outline: none;
}

.col-1{
    text-align: right;
    float: right;
    font-family: sans-serif;
    color: antiquewhite;
    margin-left: 20px;
    margin-right: 150px;
    margin-top: 150px;
    font-size: 25px;
}

h3{
    margin-bottom: 0px;
}

h4{
    margin-top: 0px;
}

.btn1,.btn2{
    list-style: none;
    width: 100px;
    height: 40px;
    background: blueviolet;
    border: 2px solid blueviolet;
    margin-top: -50px;
    color: aliceblue;
}

img.logo1{
    margin-left: -200px;
    margin-top: 130px;
}

img.logo2{
    margin-left: 50px;
    margin-top: 130px;
}